<div class="user-layout">
  <!-- USER LAYOUT START -->
  <header>
    <!-- HEADER START -->
    <app-user-header></app-user-header>
    <!-- HEADER END -->
  </header>
  <nav>
    <!-- NAVIGATION START -->
    <app-navigation></app-navigation>
    <!-- NAVIGATION END -->
  </nav>
  <main>
    <!-- CONTENT START -->
    <router-outlet></router-outlet>
    <!-- CONTENT END -->
  </main>
  <footer>
    <!-- FOOTER START -->
    <app-user-footer></app-user-footer>
    <!-- FOOTER END -->
  </footer>
  <!-- USER LAYOUT END -->
</div>