<div class="guest-layout">
  <header>
    <app-guest-header></app-guest-header>
  </header>

  <nav>
    <app-navigation></app-navigation>
  </nav>

  <main>
    <!-- CONTENT START -->
    <router-outlet></router-outlet>
    <!-- CONTENT END -->
  </main>

  <footer>
    <app-guest-footer></app-guest-footer>
  </footer>
</div>