<ng-container *ngIf="user === undefined; else profile">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-container>
<ng-template #profile>
  <div class="profile">
    <h2>Profil</h2>

    <form [formGroup]="formUserInformations" (ngSubmit)="handleProfile()">
      <mat-form-field class="input">
        <input matInput type="text" formControlName="id" placeholder="Identifiant" autocomplete="off" />
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput type="email" formControlName="email" placeholder="Adresse Email" autocomplete="off" />
      </mat-form-field>
  
      <mat-form-field class="input">
        <input matInput type="text" formControlName="firstname" placeholder="Prénom" autocomplete="off" />
        <mat-error *ngIf="firstname.hasError('required')">Le prénom est requis.</mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput type="text" formControlName="lastname" placeholder="Nom" autocomplete="off" />
        <mat-error *ngIf="lastname.hasError('required')">Le nom est requis.</mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput type="text" formControlName="phone" placeholder="Téléphone" autocomplete="off" />
        <mat-error *ngIf="phone.hasError('required')">Le téléphone est requis.</mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Salon favori</mat-label>
        <mat-select [formControl]="favoriteLocation">
          <mat-option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="favoriteLocation.hasError('required')">Sélectionner au moins <strong>un salon de coiffure</strong></mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput type="text" formControlName="createdAt" placeholder="Compté créé le" autocomplete="off" />
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput type="text" formControlName="updatedAt" placeholder="Dernière mise à jour" autocomplete="off" />
      </mat-form-field>
  
      <button mat-raised-button color="accent" type="submit" [disabled]="formUserInformations.invalid">Mettre à jour</button>
    </form>
  </div>

  <div class="password">
    <h2>Changer le mot de passe</h2>

    <form [formGroup]="formUserPassword" (ngSubmit)="updatePassword()">
      <mat-form-field [color]="password.valid && 'accent'" class="input">
        <input matInput type="password" formControlName="password" placeholder="Mot de passe" autocomplete="off" />
        <mat-error *ngIf="password.hasError('required')">Le mot de passe est requis.</mat-error>
        <mat-error *ngIf="password.invalid && password.dirty">Le mot de passe doit faire au moins 6 caractères et contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</mat-error>
      </mat-form-field>
  
      <mat-form-field [color]="passwordDoestMatch() ? 'accent' : 'warn'" class="input">
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" autocomplete="off" />
        <mat-error *ngIf="confirmPassword.hasError('required')">Le mot de passe est requis.</mat-error>
        <mat-error *ngIf="!passwordDoestMatch() && confirmPassword.dirty">Le mot de passe n'est pas identique.</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="accent" type="submit" [disabled]="formUserPassword.invalid || !passwordDoestMatch()">mettre à jour</button>
    </form>
  </div>
</ng-template>
