<div class="form">
  <h1>Nouveau compte</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email.valid && 'accent'" class="input">
      <input matInput type="email" formControlName="email" placeholder="Adresse Email" autocomplete="off" />
      <mat-error *ngIf="email.hasError('required')">L'adresse email est requise.</mat-error>
      <mat-error *ngIf="email.invalid && email.dirty">Vous devez entrer une adresse email valide.</mat-error>
    </mat-form-field>

    <mat-form-field [color]="password.valid && 'accent'" class="input">
      <input matInput type="password" formControlName="password" placeholder="Mot de passe" autocomplete="off" />
      <mat-error *ngIf="password.hasError('required')">Le mot de passe est requis.</mat-error>
      <mat-error *ngIf="password.invalid && password.dirty">Le mot de passe doit faire au moins 6 caractères et contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</mat-error>
    </mat-form-field>

    <mat-form-field [color]="passwordDoestMatch() ? 'accent' : 'warn'" class="input">
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" autocomplete="off" />
      <mat-error *ngIf="confirmPassword.hasError('required')">Le mot de passe est requis.</mat-error>
      <mat-error *ngIf="!passwordDoestMatch() && confirmPassword.dirty">Le mot de passe n'est pas identique.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || !passwordDoestMatch()">Créer le compte</button>
  </form>

  <div class="links">
    <a routerLink="/signin">Déjà un compte ?</a>
    <span> / </span>
    <a routerLink="/forget">Mot de passe oublié ?</a>
  </div>
</div>