<div class="form">
  <h1>Réinitialiser le mot de passe</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email.valid && 'accent'" class="input">
      <input matInput type="email" formControlName="email" placeholder="Adresse Email" autocomplete="off" />
      <mat-error *ngIf="email.hasError('required')">L'adresse email est requise.</mat-error>
      <mat-error *ngIf="email.invalid && email.dirty">Vous devez entrer une adresse email valide.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Envoyer</button>
  </form>

  <div class="links">
    <a routerLink="/signin">Déjà membre ?</a>
    <span> / </span>
    <a routerLink="/signup">Pas encore de compte ?</a>
  </div>
</div>