:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
  width: 100%;

  button {
    font-size: 25px;
  }

  .input {
    width: 35%;
  }
}

.calendar {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
}
