<div class="actions">
  <button mat-raised-button color="accent" (click)="addRDV()">Prendre un rendez-vous</button>
  <mat-form-field class="input">
    <mat-label>Sélectionner un salon</mat-label>
    <mat-select (selectionChange)="setEvents()" [(ngModel)]="locationId">
      <mat-option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="calendar">
  <full-calendar
    deepChangeDetection="true"
    defaultView="dayGridMonth"
    [plugins]="calendarPlugins"
    [weekends]="true"
    [events]="events"
  ></full-calendar>
</div>
