<ng-container *ngIf="!isReady; else elseTemplate">
  <mat-spinner color="primary"></mat-spinner>
</ng-container>
<ng-template #elseTemplate>
  <h1>Prise de rendez-vous</h1>

  <form (ngSubmit)="handleSubmit()" [formGroup]="form">
    <mat-form-field class="input">
      <input matInput type="datetime-local" formControlName="date" placeholder="Date" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Salon de coiffure</mat-label>
      <mat-select [formControl]="locationId">
        <mat-option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="locationId.hasError('required')">Sélectionner au moins <strong>un salon de coiffure</strong></mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Envoyer</button>
  </form>
</ng-template>
