// Custom Theming for Angular Material
@import "~@angular/material/theming";

@include mat-core();

$md-atos: (
  50: #e0edf4,
  100: #b3d1e3,
  200: #80b3d0,
  300: #4d94bd,
  400: #267daf,
  500: #0066a1,
  600: #005e99,
  700: #00538f,
  800: #004985,
  900: #003874,
  A100: #a2c7ff,
  A200: #6fa8ff,
  A400: #3c89ff,
  A700: #237aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-warning: (
  50: #f9e9e9,
  100: #f1c7c7,
  200: #e8a2a2,
  300: #de7d7d,
  400: #d76161,
  500: #d04545,
  600: #cb3e3e,
  700: #c43636,
  800: #be2e2e,
  900: #b31f1f,
  A100: #ffebeb,
  A200: #ffb8b8,
  A400: #ff8585,
  A700: #ff6c6c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-success: (
  50: #e6f7e7,
  100: #c1ebc2,
  200: #98dd9a,
  300: #6ecf71,
  400: #4fc552,
  500: #30bb34,
  600: #2bb52f,
  700: #24ac27,
  800: #1ea421,
  900: #139615,
  A100: #c9ffc9,
  A200: #96ff96,
  A400: #63ff64,
  A700: #49ff4b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$application-primary: mat-palette($md-atos);
$application-accent: mat-palette($md-success, 700);

// The warn palette is optional (defaults to red).
$application-warn: mat-palette($md-warning, 800);

// Create the theme object (a Sass map containing all of the palettes).
$application-theme: mat-light-theme($application-primary, $application-accent, $application-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($application-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.toast-error {
  background-color: #be2e2e;
  color: #ffffff;
  button {
    color: #ffffff !important;
  }
}

.toast-success {
  background-color: #24ac27;
  color: #ffffff;
  button {
    color: #ffffff !important;
  }
}

.toast-info {
  background-color: #0066a1;
  color: #ffffff;
  button {
    color: #ffffff !important;
  }
}

// Full Calendar
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';